general:col.active_border = $colore
general:col.inactive_border = $color0
group:col.border_active = $color3
group:col.border_inactive = $color4
group:groupbar:col.active = $color5
group:groupbar:col.inactive = $color6

# hy3 shit
plugin:hy3:tabs:col.active = $colorf
plugin:hy3:tabs:col.focused = $colorf
plugin:hy3:tabs:col.inactive = $color9
plugin:hy3:tabs:col.inactive.text = $color0
